@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

*{
  font-family: 'Rubik', sans-serif;
}

.container{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}

.wheel-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wheel{
  width: 400px;
}

.arrow{
  position: absolute;
  width: 100px;
}

.launch-text{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #607274;
  color: #FFF;
  padding: 9px 90px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 20px;
}

.launch-container{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  border-radius: 90px;
  width: 250px;
  height: 30px;
  background-color: rgb(90, 86, 86);
}

.launch-bar{
  position: absolute;
  background-color: rgb(255, 203, 58);
  height: 20px;
  width: 240px;
  border-radius: 20px;
  margin-left: 6px;
}

.launch-button{
  margin-top: 20px;
  background-color: #607274;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid #607274;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
  color: #FFF;
  transition: all 0.3s ease;

}

.launch-button:hover{
  color: #607274;
  background: none;
  border-color:#607274;
}

.animation{
  animation: animation-wheel 4s ease-in-out;
}

.animation-bar{
  animation: animation-bar .8s infinite ease-in-out;
}

@keyframes animation-bar {
  0%{
    width: 5px;
  }
  50%{
    width: var(--len);
  }
  100%{
    width: 5px;
  }
}

@keyframes animation-wheel {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(720deg);
  }
}

@media (max-width: 410px) {
  .wheel{
    width: 250px;
  }

  .arrow{
    width: 60px;
  }
}